body {
	background-color: lightblue;
	padding-left: 28%;
	padding-top: 5%;
	
}

.error {
	color: red;
	font-size: 15px;
}

.employee {
	color: blue;
	font-size: 15px;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 2px solid black;
}

.table-header {
	background-color: #FFFFC5;
	font-size: 20px;
}