<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{ems.title}"> Title </title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
	<body>
		<h1 th:text="#{ems.landing.page.title}">Welcome to Employee Maanagement System</h1>
		<h3 th:text="#{ems.emp.add.employee}">Create</h3>
	    <form action="#" th:action="@{/esm/employee/create-employee}" th:object="${employee}" method="POST">
	      <table>
			<input type="hidden" th:field="*{empId}" />
	    	<tr>
				<td th:text="#{employee.firstName}"></td>
	    	    <td>
	    	      <input type="text" th:field="*{firstName}" />
	    	      <label th:if="${#fields.hasErrors('firstName')}" th:text="#{error.employee.firstName}" th:class="'error'">Name Error</label>
	    	    </td>
	    	</tr>
	    	<tr><td th:text="#{employee.middleName}"></td>
	    	    <td>
	    	      <input type="text" th:field="*{middleName}" />
	    	      <label th:if="${#fields.hasErrors('middleName')}" th:text="#{error.employee.middleName}" th:class="'error'">Name Error</label>
	    	    </td>
	    	</tr>
	    	<tr><td th:text="#{employee.lastName}"></td>
	    	    <td>
	    	      <input type="text" th:field="*{lastName}" />
	    	      <label th:if="${#fields.hasErrors('lastName')}" th:text="#{error.employee.lastName}" th:class="'error'">Name Error</label>
	    	    </td>
	    	</tr>
	    	<tr><td th:text="#{employee.emailId}"></td>
	    	    <td>
	    	      <input type="text" th:field="*{emailId}" />
	    	      <label th:if="${#fields.hasErrors('emailId')}" th:text="#{error.employee.emailId}" th:class="'error'">Name Error</label>
	    	    </td>
	    	</tr>
	    	
	    	<tr><td th:text="#{employee.department}"></td>
	    	   <td>
	    	       <select th:field="*{department.departmentId}">
	    	          <option th:each="department : ${departmentList}" th:value="${department.departmentId}" th:text="${department.departmentName}">Department</option>
	    	       </select>
	    	   </td>
	    	</tr>
	    	 
	    	<tr>
				<td th:text="#{employee.userName}"/></td>
	    	    <td>
	    	       <input type="text" th:field="*{userName}" name="userName"/>
	    	       <label th:if="${#fields.hasErrors('userName')}" th:text="#{error.employee.userName}" th:class="'error'">Id Error</label>
	    	    </td>
	    	</tr>
	    	<tr>
				<td th:text="#{employee.password}"/></td>
	    	    <td>
	    	       <input type="password" th:field="*{password}" name="password"/>
	    	       <label th:if="${#fields.hasErrors('password')}" th:text="#{error.employee.password}" th:class="'error'">Id Error</label>
	    	    </td>
	    	</tr> 		    	
	        <tr><td colspan="2">
	              <input type="submit" th:value="#{ems.emp.form.submit}"/> 
	              <input type="reset" th:value="#{ems.emp.form.reset}"/>
	            </td>
	        </tr>
	      </table>  
	    </form>
	</body>
</html>