<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <title th:text="#{ems.title}"> Title </title>
      <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
	
   <h1 th:text="#{ems.landing.page.title}">Welcome to Employee Maanagement System</h1>
    <table>
		 <tr class="table-header">
	      <td>Name</td>
		  <td>Email Id</td>
		  <td>Action</td>
		</tr>	
        <tr th:each="employee : ${employeeList}">
	      <td th:text="${employee.firstName + ' ' + employee.middleName + ' ' + employee.lastName}">Name</td>
		  <td th:text="${employee.emailId}"> Email Id </td>
		  <td> 
			  <a href="#" th:href="@{/esm/employee/edit}+'/'+${employee.empId}" th:text="#{ems.emp.edit.employee}">Edit</a> 
			  <a href="#" th:href="@{/esm/employee/retrive}+'/'+${employee.empId}" th:text="#{ems.emp.view.employee}">View</a>
			  <a href="#" th:href="@{/esm/employee/delete}+'/'+${employee.empId}" th:text="#{ems.emp.delete.employee}">Delete</a>
		  </td>
		</tr>	
	</table>
	<h3 th:if="${isView}" th:text="#{ems.emp.view.detail}"></h3>
	 <table th:if="${isView}">
		 <tr>
	      <td>Emp Id</td>
	      <td th:text="${employeeDetail.empId}">Emp Id</td>
		</tr>
		 <tr>
	      <td>First Name</td>
	      <td th:text="${employeeDetail.firstName}">firstName</td>
		</tr>
		 <tr>
	      <td>Middle Name</td>
	      <td th:text="${employeeDetail.middleName}">middleName</td>
		</tr>
		 <tr>
	      <td>Last Name</td>
	      <td th:text="${employeeDetail.lastName}">middleName</td>
		</tr>
		 <tr>
	      <td>Email Id</td>
	      <td th:text="${employeeDetail.emailId}">Email Id</td>
		</tr>
		 <tr>
	      <td>Username</td>
	      <td th:text="${employeeDetail.userName}">Email Id</td>
		</tr>
		 
	 </table>	
	<div>
		<p>
			<a href="#" th:href="@{/esm/employee/create}" th:text="#{ems.emp.add.employee}">Add Employee</a>
		</p>
		
		<p>
			<a href="#" th:href="@{/ems/department/retrieves}" th:text="#{ems.emp.view.departments}">View Departments</a>
		</p>
		<p>
			<form action="#" th:action="@{/logout}"  method="POST">
	      <table>
			<tr>
			    <td colspan="2">
	              <input type="submit" th:value="#{ems.logout}"/> 
	            </td>
	        </tr>
	      </table>  
	    </form>
		</p>
	</div>
	
</body>
</html> 